.dashboard-charts[b-debeznhl2c] {
    display: flex;
    gap: 24px;
    padding: 20px;
}
.mud-paper-root.dashboard-chart *[b-debeznhl2c] {
    display: none;
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 #ececec;
    padding: 24px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chart-title[b-debeznhl2c] {
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 12px;
}

@media (max-width: 1400px) {
   .dashboard-charts[b-debeznhl2c] {
   flex-wrap: wrap;
}
}
