<div class="sidebar">
    <ul class="menu">
        <li class="menu-item">
            <span class="icon-placeholder"></span> Главная
        </li>
        <li class="menu-item">
            <span class="icon-placeholder"></span> Налоги
        </li>
        <li class="menu-item">
            <span class="icon-placeholder"></span> Платёжный портал
        </li>
        <li class="menu-item">
            <span class="icon-placeholder"></span> Социальный фонд
        </li>
    </ul>
</div>
