.sidebar {
  --mud-palette-drawer-icon: #fff !important;
  --mud-palette-primary: #fff !important;
  background-color: #1E293B;
  color: white;
  height: 100vh;
  width: 240px;
}

.nav-link {
  color: #9ca3af;
  font-size: 14px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.nav-link .mud-icon-root {
  margin-right: 12px;
}

.nav-link.mud-nav-link-active {
  background-color: #2563eb;
  color: white;
}

.mud-nav-group-title {
  color: #9ca3af;
}

.mud-nav-group-title .mud-icon-root {
  margin-right: 12px;
}

.mud-nav-group-title .mud-nav-link-expand-icon {
  color: white !important;
}

.nav-group .mud-nav-link {
  padding-left: 36px;
  font-size: 13px;
}


.sidebar .mud-nav-link-expand-icon {
  color: white !important;
  fill: white !important;
}
