@using MudBlazor

<div class="sidebar">
    <MudNavMenu Dense="true">

        <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All" Class="nav-link">
            <span class="label">Главная</span>
        </MudNavLink>

        <div class="divider"></div>

        <MudNavGroup Title="Налоги" Icon="@Icons.Material.Filled.Receipt" ExpandIconColor="Color.White" Class="nav-group">
            <MudNavLink Href="/taxes/declarations" Class="nav-link">Декларации</MudNavLink>
            <MudNavLink Href="/taxes/reports" Class="nav-link">Отчёты</MudNavLink>
        </MudNavGroup>

        <div class="divider"></div>

        <MudNavGroup Title="Платёжный портал" Icon="@Icons.Material.Filled.Payment" ExpandIconColor="Color.White" Class="nav-group">
            <MudNavLink Href="/portal/invoices" Class="nav-link">Счета</MudNavLink>
            <MudNavLink Href="/portal/history" Class="nav-link">История</MudNavLink>
        </MudNavGroup>

        <div class="divider"></div>

        <MudNavGroup Title="Социальный фонд" Icon="@Icons.Material.Filled.AccountBalance" ExpandIconColor="Color.White" Class="nav-group">
            <MudNavLink Href="/fund/payments" Class="nav-link">Платежи</MudNavLink>
            <MudNavLink Href="/fund/statements" Class="nav-link">Выписки</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</div>
