<div class="appbar-bg">
    <MudAppBar Elevation="0" Color="Color.Default">
        <div class="main-appbar">

            <div class="main-appbar-nav">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" Disabled="true"
                    Class="logo-placeholder" />
                <div>Приложение единое окно</div>
            </div>

            <div class="main-appbar-nav">
                <div class="lang-switch">
                    <span class="lang-item lang-active">ru</span>
                    <span class="lang-divider">/</span>
                    <span class="lang-item">en</span>
                </div>


                <MudIconButton Icon="@Icons.Material.Filled.NotificationsNone" Class="notif-btn" />

                <MudIconButton Icon="@Icons.Material.Filled.Brightness7" Class="theme-btn" />

                <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                    <ActivatorContent>
                        <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Class="profile-btn" />
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem>Профиль</MudMenuItem>
                        <MudMenuItem>Настройки</MudMenuItem>
                        <MudMenuItem>Выйти</MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </div>
        </div>
    </MudAppBar>
</div>