<div class="main-appbar">
    <AppBarActions IsDarkMode="IsDarkMode" OnThemeToggle="OnThemeToggle" />
</div>

@code {
    [Parameter] public bool IsDarkMode { get; set; }
    [Parameter] public EventCallback OnThemeToggle { get; set; }
}
