<div class="appbar-bg">
    <MudAppBar Elevation="0" Color="Color.Default">
        <div class="main-appbar">
            <AppBarNav />
            <AppBarActions />
        </div>
    </MudAppBar>
</div>