.page {
  display: flex;
  background: var(--mud-palette-background);
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
}

@media (min-width: 1500px) {
  .main-content {
    align-items: center;
  }
}