@inherits LayoutComponentBase

<MudPopoverProvider />

<div class="page">
    <Sidebar />
    <div class="content">
       <AppBar />
        <main class="main-content">
            @Body
        </main>
    </div>
</div>
