/* /Components/AppBar/AppBar.razor.rz.scp.css */
.appbar-bg[b-k7kxtcavde] {
  width: 100%;
  justify-content: flex-end;
  height: 60px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(16px);
  /* border-bottom: 1px solid #323f45; */
}

.main-appbar[b-k7kxtcavde] {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-appbar-nav[b-k7kxtcavde] {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-placeholder[b-k7kxtcavde] {
  margin-right: 16px;
  color: #1976d2;
}

.lang-switch[b-k7kxtcavde] {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  color: #222;
  margin-right: 16px;
}

.lang-item[b-k7kxtcavde] {
  cursor: pointer;
  padding: 0 2px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.lang-active[b-k7kxtcavde] {
  opacity: 1;
  color: #1976d2;
  cursor: default;
}

.lang-divider[b-k7kxtcavde] {
  margin: 0 2px;
  opacity: 0.4;
}

.notif-btn[b-k7kxtcavde],
.theme-btn[b-k7kxtcavde],
.profile-btn[b-k7kxtcavde] {
  margin-left: 8px;
}
/* /Components/Sidebar/Sidebar.razor.rz.scp.css */
.sidebar[b-opwouz2lp2] {
  background-color: #3a474d;
  color: white;
  height: 100vh;
  max-width: 240px;
  width: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #323f45;
  --mud-palette-drawer-icon: #fff !important;
  --mud-palette-primary: #fff !important;
}


.nav-link[b-opwouz2lp2] {
  width: 100%;
  color: #b0bac9;
  font-size: 15px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}

.nav-link:hover[b-opwouz2lp2] {
  background: #28353b;
  color: #fff;
}

.nav-link.mud-nav-link-active[b-opwouz2lp2] {
  background-color: #28353b;
  color: #fff;
}

.nav-link.mud-nav-link-active .mud-icon-root[b-opwouz2lp2] {
  color: #fff;
}

.nav-group .mud-nav-group-title[b-opwouz2lp2] {
  color: #b0bac9;
  font-size: 15px;
  font-weight: 500;
}

.nav-group .mud-nav-group-title:hover[b-opwouz2lp2] {
  color: #fff;
}

.divider[b-opwouz2lp2] {
  border-bottom: 1px solid #323f45;
  margin: 10px 0;
}



/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-uwjohrdo2z] {
    display: flex;
    background: #f7f8fa;
    min-height: 100vh;
}

.content[b-uwjohrdo2z] {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.main-content[b-uwjohrdo2z] {
  margin-top: 64px;
}
/* /Pages/Dashboard.razor.rz.scp.css */
.dashboard[b-lgsmtgcejn] {
  padding: 24px;
  background-color: #f8f9fc;
}
