/* /Components/Sidebar/Sidebar.razor.rz.scp.css */
.sidebar[b-opwouz2lp2] {
  --mud-palette-drawer-icon: #fff !important;
  --mud-palette-primary: #fff !important;
  background-color: #1E293B;
  color: white;
  height: 100vh;
  width: 240px;
}

.nav-link[b-opwouz2lp2] {
  color: #9ca3af;
  font-size: 14px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.nav-link .mud-icon-root[b-opwouz2lp2] {
  margin-right: 12px;
}

.nav-link.mud-nav-link-active[b-opwouz2lp2] {
  background-color: #2563eb;
  color: white;
}

.mud-nav-group-title[b-opwouz2lp2] {
  color: #9ca3af;
}

.mud-nav-group-title .mud-icon-root[b-opwouz2lp2] {
  margin-right: 12px;
}

.mud-nav-group-title .mud-nav-link-expand-icon[b-opwouz2lp2] {
  color: white !important;
}

.nav-group .mud-nav-link[b-opwouz2lp2] {
  padding-left: 36px;
  font-size: 13px;
}


.sidebar .mud-nav-link-expand-icon[b-opwouz2lp2] {
  color: white !important;
  fill: white !important;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-uwjohrdo2z] {
    display: flex;
    min-height: 100vh;
    background: #f8f9fc;
}
.main-content[b-uwjohrdo2z] {
    flex: 1;
    padding: 24px 0 0 0;
    overflow-y: auto;
}
.top-row[b-uwjohrdo2z] {
    height: 64px;
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 20px;
}
.content[b-uwjohrdo2z] {
    padding: 0 24px;
}
/* /Pages/Dashboard.razor.rz.scp.css */
.dashboard[b-lgsmtgcejn] {
  padding: 24px;
  background-color: #f8f9fc;
}
