.sidebar[b-opwouz2lp2] {
  background-color: #3a474d;
  color: white;
  height: 100vh;
  width: 240px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #323f45;
  --mud-palette-drawer-icon: #fff !important;
  --mud-palette-primary: #fff !important;
}

.nav-link[b-opwouz2lp2] {
  color: #b0bac9;
  font-size: 15px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}

.nav-link:hover[b-opwouz2lp2] {
  background: #28353b;
  color: #fff;
}

.nav-link.mud-nav-link-active[b-opwouz2lp2] {
  background-color: #28353b;
  color: #fff;
}

.nav-link.mud-nav-link-active .mud-icon-root[b-opwouz2lp2] {
  color: #fff;
}

.nav-group .mud-nav-group-title[b-opwouz2lp2] {
  color: #b0bac9;
  font-size: 15px;
  font-weight: 500;
}

.nav-group .mud-nav-group-title:hover[b-opwouz2lp2] {
  color: #fff;
}

.divider[b-opwouz2lp2] {
  border-bottom: 1px solid #323f45;
  margin: 10px 0;
}


