@page "/"

<DashBoardCharts />
<div class="bank-cards-list">
    <BankCard BankName="KICB" LogoUrl="/img/kicb-logo.svg" Currency="USD" Rate="92.70" Balance="1 500 000" />
    <BankCard BankName="Optima" LogoUrl="/img/optima-logo.svg" Currency="EUR" Rate="101.12" Balance="520 000" />
    <BankCard BankName="Бакай" LogoUrl="/img/bakai-logo.svg" Currency="KGS" Rate="1.00" Balance="12 000 000" />
</div>
