.page[b-uwjohrdo2z] {
    display: flex;
    min-height: 100vh;
    background: #f8f9fc;
}
.main-content[b-uwjohrdo2z] {
    flex: 1;
    padding: 24px 0 0 0;
    overflow-y: auto;
}
.top-row[b-uwjohrdo2z] {
    height: 64px;
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 20px;
}
.content[b-uwjohrdo2z] {
    padding: 0 24px;
}
