<div class="main-appbar-nav">
    <MudIconButton Size="Size.Large"
                   Icon="@Icons.Material.Filled.Menu"
                   Edge="Edge.Start"
                   Disabled="true"
                   Class="logo-placeholder" />
    <div>Приложение Единое Окно</div>
</div>